.firstDiv{
	margin-top: 75px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 75px);
}

.mainLi{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.mainLi img{
	width: 180px;
	height: 180px;
}

.titlePrice{
	display: flex;
	justify-content: space-evenly;
	width: 180px;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 500;
	letter-spacing: 1.1px;
}

.buttonDiv{
	width: 180px;
	display: flex;
	justify-content: space-around;
	position: relative;
}

.buttonDiv button{
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 20px;
	border: 1px solid #ccc;
}

.buttonDiv button svg{
	width: 100%;
	height: 100%;
}


.cartCounter{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
}

.addItem{
	color: rgb(30, 131, 30);
}

.delItem{
	color: #555;
}

@media (max-width:676px) {
	.mainLi img{
		width: 140px;
		height: 140px;
	}
	.titlePrice{
		display: flex;
		justify-content: space-evenly;
		width: 180px;
		font-size: 16px;
		font-family: sans-serif;
		font-weight: 500;
		letter-spacing: 1.1px;
	}
	.buttonDiv button {
		width: 42px;
		height: 42px;
		}
}

@media (max-width:576px) {
	.mainLi img{
		width: 100px;
		height: 100px;
	}
	.titlePrice{
		display: flex;
		justify-content: space-evenly;
		width: 180px;
		font-size: 14px;
		font-family: sans-serif;
		font-weight: 500;
		letter-spacing: 1.1px;
	}
	.buttonDiv button {
		width: 40px;
		height: 40px;
		}
}

@media (max-width:500px) {
	.mainLi{
		flex-direction: column;
		margin: 30px 0;
	} 

	.mainLi:first-child{
		flex-direction: column;
		margin: 0 0 35px 0;
	} 


	.mainLi img{
		width: 200px;
		height: 200px;
	}
	.titlePrice{
		display: flex;
		justify-content: space-evenly;
		width: 180px;
		font-size: 16px;
		font-family: sans-serif;
		font-weight: 600;
		letter-spacing: 1.3px;
	}
	.buttonDiv button {
		width: 40px;
		height: 40px;
		}
}